	@media(min-width:768px){
	.started-tool{
	width: 53%;
	}
	.started-tool .tab-content{
		width: 86.59%;
		float: right;
	}
	.tool-product{
	width: 47%;
	}
	/*.canvas-holder, .inner-canvas-holder, .inner-canvas-holder-zoom{
	 max-width: 100%;
	}
	.frontImage, .canvas-container, .lower-canvas{
	max-width: 100% !important;
	}
	.canvas-holder{
	 height: 455px;
	}*/
	.started-tool > .nav-tabs > li a{
	font-size: 1.1em;
	}
	.tool-links li a{
	 font-size: 1.2em;
	}
	.tool-links li{
		min-height: 34px;
		white-space: nowrap;
	}
	.tool-links li a{
		 line-height: 3.7;
		 min-height: 34px;
	}
	.choose-tool li a{
		font-size: 1.4em;
	}
	.need-help-sec{
	min-height: 264px;
	}
	.tool-wrap{
	height: 538px;
	}
	.design-links li{
	padding: 0 10px;
	}
	.design-links li a{
	font-size: 1.3em;
	}
	.chat-section li:last-child{
	margin-left: 0;
	}
	.chat-section li span {
    font-size: 1.1em;
}
.chat-section li a{
	font-size: 1.3em;
	}
	.colorInfo div.colorHolder{
	width: 100%;
	}
	.colorInfo{
		padding-right: 0px;
	}
	.leftTab section{
		padding-right: 20px;
	}
	.tool-wrap {
    height: auto;
	}
	.need-help-sec{
	padding-top: 25px;
	min-height: 113px;
	}
	.started-tool ul.nav{
		padding-bottom: 77px;
	}
	.designer-tool footer{
	clear: both;	
	}
	.colorQuantityInfo{
		width: 100%;
	}
	
	.tab-content {
    height: 387px;
    overflow-y: scroll;
-webkit-overflow-scrolling: touch; 
}
.leftTab_text section{
	padding-right: 20px;
}
.leftTab_text section textarea{
	width: 100%;
}	
.started-tool .art-wrapper{
	padding-right: 20px;
}
.searchContainer{
	width: 100%;
}
.searchContainer input.searchArtInput{
	width: auto;
	display: inline-block;
}
.searchContainer a.searchBtn{
	width: auto;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
}	
.tab-content .categoryContainer li a {
	font-size: 11px;
	padding-left: 5px;
}
.tab-content .categoryContainer li{
	width: 50%;
}
#add-note textarea{
	width: 100%;
}
.forgetInstruction{
	width: 100%;
	padding-left: 15px;
}
/*pop up css starts here*/
.swapItemPopup{
	width: 748px;
	/*left: 0 !important;
	right:0!important;
	margin: 0 auto !important;
	top: 10px !important;*/	
}
.swapItemHolder div.leftSwapItemPopup, .swapItemHolder div.rightSwapItemPopup{
	width: 48%;
	padding-right: 15px;
}
.swapRightProductHolder{
	width: 100%;
}
.productContainer ul{
	margin-right: 0px;
}
.close-btn{
	 left: auto;
	 right: 5px;
}
.upload1PopUp{
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
}
.step1Header3 select{
	width: 106px;
}
.nameTextColorHolder{
	width: 106px;
}
.step1Header3 div.selectSideNumber{
	margin-left: 181px;
}
.enterNameNumberSizePopUp{
	width: 748px;
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
}
.enterNameNumberSizePopUp div.horizontalRule{
	width: 728px;
}
.enterNameNumberSizePopUp ul li{
	padding-right: 10px;
	position: relative;
}
.tableRowSeparator .tableHolder{
	width: 60%;
}
.enterNameNumberSizePopUp .tableRowSeparator div.hintHolder{
	margin-right: 0px;
	width: 30%;
}
.hintHolder{
	height: auto;
	padding-bottom: 15px;
}
.enterNameNumberSizePopUp ul li img.closeNameSizePopup{
	margin-left: 0;
	right: 5px;
	position: absolute;
	top: 10px;
}
.getPricePopUp{
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
	width: 748px;
}
.getPricePopUp ul li{
	/*padding-right: 10px;*/
	position: relative;
}
/*.getSizeHolderParent div.viewSizeLineUp{
	left: 575px;
}*/

.getPricePopUp ul li img.closeNameSizePopup{
	position: absolute;
	right: 5px;
	top:8px;
}
.getSizeHolderParent div.viewSizeLineUp{
	top: 6px;
	right: 10px;
	left: auto;
}
.getPricePopUp ul li img.closeNameSizePopup{
	left: auto;
	margin-left: 0;
	right: 10px;
	width: 23px;
	height: 21px;
	display: block;
	margin-top: 0;
	top: 3px;
	z-index: 9999;
}
.saveYourDesignPopUp, .saveYourDesignPopUp2, .getPricePopUp2, .upload2PopUp{
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
}

.enterNameNumberPopUp ul li a.addText{
	padding-left: 8px;
	padding-right: 8px;
}
.changeFont{
	background: url("../images/changeFont.png") repeat right;
	padding-left: 10px;
	width: 94%;
	padding-right: 25px;
	border-left: 1px solid #d8d8d8;
	border-radius:7px 0 0 7px; 
}
.textColor {
    background: url("../images/textcolor-img.png") repeat right;
   	padding: 9px 0 0 10px;
    width: 80%;
    border-left: 1px solid #d8d8d8;
	border-radius:7px 0 0 7px; 
	margin-top: 0;
}
.setAlign {
    padding-left: 4px;
}
.textSettingSection li{
	font-size: 11px;
}
.textSettingSection li#textAlignArea{
	white-space: nowrap;
}

.textSettingSection li.setAlign span{
	
	 vertical-align: super;
}

.textShape{
	background: url("../images/textEffectSprite-img.png") no-repeat scroll right -54px;
	border-left:1px solid #d8d8d8;
    width: 90%;
    border-radius:7px 0 0 7px; 
}
.shapeSetting{
	 background-position: right -55px;
	 width: 100%;
}
.textSettingSection li:nth-of-type(2){
	 min-height: 62px;
}
.textOutline{
	width: 80%;
	border-radius:7px ;
}
.outlineColor{
	width: 100%;
	border-right:1px solid #d8d8d8;
	border-radius:7px; 
	padding-right: 0;
	width: 95%;
}
.started-tool .tab-content #add-text .fontStyleContainer{
width: 100%;
padding-right: 20px;	
}
.started-tool .tab-content #add-text .fontStyleContainer section{
	 width: 100%;
	 padding-right: 0;
}
.fontCategoryContainer{
	 width: 100%;
}
.fontStyleContainer .fontContainer, .fontStyleContainer .fontContainer li{
	width: 100%;
}
.getPricePopUp2{
	width: 748px;
}
.getPricePopUp2 div.leftGetPrice2, .getPricePopUp2 div.rightGetPrice2{
	width: 355px;
}
.getPricePopUp2 ul > li, .getPricePopUp2 ul li.getPriceQtyInfo{
	width: 90%;
}
.getPricePopUp2 ul li .getPriceQtyInfo{
	padding: 10px;
}

.previewHolder div.frontPreview, .previewHolder div.backPreview{
	width: 155px;
}
.getPricePopUp2 ul li{
	overflow: hidden;
}
.getPricePopUp2 ul li .getPriceQtyInfo{
	width: 370px;
}
.textShapeContainer{
	width: 100%;
	text-align: center;
}
.textShapeContainer li{
	   width: 100%;
}
.addArtNav li{
	font-size: 14px;
}
 .addArtNav li a.border{
 	height: 10px;
 }
 .art-save-design {
    margin-left: 0px;
}
.art-edit-controls div.control-row{
	margin-right: 0px;
	display: inline-block;
}
.flip-flop-controls{
	margin-left: 0px;
}
.art-edit-controls div.control2 a.addText{
	margin-top: -26px;
}
.viewWiseColorHolder{
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
	width: 87.9%;
}
.tool-wrap .started-tool {
    height: 386px;
    	
}
.totalColorHolderPrice span{
	font-size: 12px;
}
.totalColorHolder span, .totalColorHolder a{
	font-size: 11px;
}
.art-edit-controls{
	padding-bottom: 30px;
}
.addNameSection{
	padding-bottom: 30px;
}
.searchArtInput{
	width: 177px;
}
.searchContainer1{
	width: 100%;
}
.enterNameNumberPopUp{
	z-index: 9999;
}
.started-tool{
	position: relative;
}
.getPricePopUp2 div.getPriceQtyInfo, .getPricePopUp2 div.seeMorePricingInfo{
	width: 100%;
}
.tab-content{
	padding-bottom: 50px;
}
.categoryContainer{
	overflow: hidden;
}
.art-edit-controls div.control2 a.addText{
	margin-left: 120px;
}
.step1Header2{
	 margin-left: 0px;
}
.step1Header3 select{
	width: 90px;
}
.shipping_box{
	margin-right: 20px;
}
.getPricePopUp2{
	top: 30px !important;
}
.step1Header3 select {
    width: 106px;
}
.addNameSection ul li.step1Header2 + li.step1Header3{
    margin-top: 0px;
}
.addNameSection span.secondCheck{
	 display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
}
.addNameSection span.firstCheck{
	margin-top: -2px;
	display: inline-block;
    vertical-align: middle;
}
.addNameSection input.addNumberCheck {
    margin-left: 98px;
}
.addNameSection span.firstCheck {
    margin-left: -116px;
}
.addNameSection span.secondCheck {
    margin-left: 51px;
}
.addNameSection ul li {
    margin-top: 0;
}
.positionTitle a.addNameSmallHeading2 + a.addNameSmallHeading2{
	margin-left: 32px;
}
.positionTitle a.addNameSmallHeading2 + a.addNameSmallHeading2{
	margin-left: 11px;
	
}
.addNameSection .positionTitle{
	white-space: nowrap;
}
.addNameSection li.step1Header2 input[type="checkbox"].addNameCheck{
	margin-left: 3px;
}
#changeFontImg{
max-height: 67%;	
}
.changeFont{
	position: relative;
}
.changeFont img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

/*.step1Header3 select.selectSideName{
	margin-left: 15px;
}
.step1Header3 select.selectSideNumber{
	margin-left: 5px;
}*/


/*pop up css ends here*/
	
	
	
	
	
}
@media(min-width:1100px){
	
	
	.started-tool{
	width: 625px;
	}
	.tool-product{
	width: 545px;
	}
	/*.canvas-holder{
	 width: 565px;
	}
	.inner-canvas-holder, .inner-canvas-holder-zoom{
		width: 546px;
	}
	.frontImage, .canvas-container, .lower-canvas{
	width: 546px;
	}
	.canvas-holder{
	 height: 492px;
	}*/
	.started-tool > .nav-tabs > li a{
	font-size: 1.5em;
	}
	.tool-links li a{
	 font-size: 1.6em;
	}
	.tool-links li{
		min-height: 0;
	}
	.tool-links li a{
		 line-height: 2.6;
		 min-height: 0;
	}
	.choose-tool li a{
		font-size: 2.1em;
	}
	.need-help-sec{
	min-height: 287px;
	}
	.tool-wrap{
	height: 572px;
	}
	.design-links li{
	padding: 0 20px;
	}
	.design-links li a{
	font-size: 1.6em;
	}
	.chat-section li:last-child{
	margin-left: 0;
	}
	.chat-section li span {
    font-size: 1.3em;
	}
	.chat-section li a{
	font-size: 1.5em;
	}
	.colorInfo div.colorHolder{
	width: 470px;
	}
	.colorInfo{
		padding-right: 0;
	}
	.leftTab section{
		padding-right: 0;
	}
	.tool-wrap {
    height: 572px;
	}
	.need-help-sec{
	padding-top: 105px;
	min-height: 204px;
	}
	.started-tool ul.nav{
		padding-bottom: 0px;
	}
	.colorQuantityInfo{
		width: 470px;
	}
	.started-tool .tab-content{
	height: 572px;
    overflow-y: scroll;
	}
	.tab-content .need-help-sec{
	min-height: 287px;
	}
	.searchContainer input.searchArtInput{
	width: 263px;
	display: inline-block;
}
.searchContainer a.searchBtn{
	width: 109px;
	display: inline-block;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 2;
}
.tab-content .categoryContainer li a {
	font-size: 13px;
	padding-left: 16px;
}
.tab-content .categoryContainer li{
	width: 37%;
}
#add-note textarea{
	width: 471px;
}
.forgetInstruction{
	width: 90.5%;
	padding-left: 15px;
}

.swapItemPopup{
	width: 768px;
	top: 20px;
	left: 0;
}
.swapItemHolder div.leftSwapItemPopup, .swapItemHolder div.rightSwapItemPopup{
	width: 367px;
	padding-right: 0px;
}
.swapRightProductHolder{
	width: 350px;
}
.productContainer ul{
	margin-right: 18px;
}
.close-btn{
	 left: 737px;
	 right: auto;
}
.step1Header3 select{
	width: 114px;
}
.nameTextColorHolder{
	width: 164px;
}
.step1Header3 div.selectSideNumber{
	margin-left: 239px;
}
.enterNameNumberSizePopUp{
	width: 853px;
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
}
.enterNameNumberSizePopUp div.horizontalRule{
	width: 826px;
}
.enterNameNumberSizePopUp ul li{
	padding-right: 0px;
}
.tableHolder{
	width: 469px;
}
.tableRowSeparator div.hintHolder{
	margin-right: 30px;
	width: 312px;
}
.hintHolder{
	height: 220px;
	padding-bottom: 0;
	padding-right: 10px;
}
.enterNameNumberSizePopUp ul li img.closeNameSizePopup{
	margin-left: 663px;
}
.getPricePopUp{
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
	width: 756px;
}
.getPricePopUp ul li{
	padding-right: 0;
}
.getPricePopUp ul li img.closeNameSizePopup{
	position: absolute;
	right: 5px;
	top:8px;
}
.getSizeHolderParent div.viewSizeLineUp{
	top: 6px;
}
.changeFont {
    background: url("../images/changeFont.png") repeat scroll right center rgba(0, 0, 0, 0);
    border-left: 1px solid rgb(216, 216, 216);
    border-radius: 7px 0 0 7px;
    padding-left: 10px;
    padding-right: 25px;
    width: 94%;
}
.changeFont {
    background: url("../images/changeFont.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    
    padding-left: 36px;
  	padding-right:25px;
    width: 252px;
    border-left: none;
}
.textColor {
    background: url("../images/textcolor-img.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
   	padding: 9px 0 0 10px;
    width: 152px;
     border-left: none;
	border-radius:0; 
	margin-top: 0;
}
.setAlign {
    padding-left: 15px;
}
.textSettingSection li{
	font-size: 13px;
}
.textSettingSection li#textAlignArea{
	white-space: normal;
}
.textSettingSection li.setAlign{
	display: table;
}
.textShape{
	background: url("../images/textEffectSprite-img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	height: 26px;
    width: 252px;
    border-radius:0; 
    border-left:none; 
}
.shapeSetting{
	 background-position: -267px 0;
	 width: 182px;
}
.textSettingSection li.setAlign{
	 min-height: 0px;
}
.textOutline{
	width: 252px;
	border-radius:0; 
}
.outlineColor{
	width: 182px;
	border-right:none;
	border-radius:0px;
	padding-right: 0;
}

.started-tool .tab-content #add-text .fontStyleContainer{
max-width: 100%;
padding-right: 0px;	
}
.started-tool .tab-content #add-text .fontStyleContainer section{
	 width: 452px;
	 padding-right: 0;
}
.fontCategoryContainer{
	 width: 452px;
}
.fontStyleContainer .fontContainer, .fontStyleContainer .fontContainer li{
	width: 452px;
}
.leftGetPrice2, .rightGetPrice2{
	width: 390px;
}
.previewHolder div.frontPreview, .previewHolder div.backPreview{
	width: 182px;
}
.getPricePopUp2{
	width: 790px;
}
.getPricePopUp2 div.leftGetPrice2, .getPricePopUp2 div.rightGetPrice2{
	width: 390px;
}
.getPricePopUp2 ul li, .getPricePopUp2 ul li.getPriceQtyInfo{
	width: 100%;
}
.textShapeContainer{
	width: 452px;
}
.textShapeContainer li{
	   width: 486px;
}
.addArtNav li{
	font-size: 16px;
}
 .addArtNav li a.border{
 	height: 16px;
 }
 .art-save-design {
    margin-left: 216px;
}
.art-edit-controls div.control-row{
	margin-right: 38px;
}
.flip-flop-controls{
	/*margin-left: -35px;*/
}
.art-edit-controls div.control2 a.addText{
	 margin: -5px 0 0 67px;
    width: 150px;
}
.art-edit-controls div.control2 a.addText{
	 margin: -5px 0 0 67px;
    width: 150px;
}
.viewWiseColorHolder{
	top: auto;
	bottom: 0;
	left: 83px;
	right: auto;
	width: 86.74%;
}
.tool-wrap .started-tool {
    height: 571px;
    overflow-y: hidden;
}
.totalColorHolderPrice span{
	font-size: 16px;
}
.totalColorHolder span, .totalColorHolder a{
	font-size: 13px;
}
.searchArtInput{
	width: 268px;
}
.searchContainer1{
	width: 377px;
}
.getPricePopUp2 div.getPriceQtyInfo, .getPricePopUp2 div.seeMorePricingInfo{
	width: 370px;
}
.step1Header2{
	 margin-left: 62px;
}
/*.step1Header3 select.selectSideName{
	margin-left: 30px;
}
.step1Header3 select.selectSideNumber{
	margin-left: 10px;
}*/
.step1Header3 select{
	height:23px;
	width: 164px;
}
.shipping_box{
	margin-right: 33px;
}
.textSettingSection > ul > li:first-of-type{
	padding-bottom: 10px;
}

/*vishnu css starts here*/
.addNameSection li.step1Header2 input[type="checkbox"].addNumberCheck{
	margin-left: 110px;
}
.addNameSection li.step1Header2 input.addNumberCheck[type="checkbox"] {
    margin-left: 157px;
}
.addNameSection span.firstCheck {
    margin-left: -175px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -4px;
}
.addNameSection span.secondCheck {
    margin-left: 110px;
}
.addNameSection li.step1Header2 + li.step1Header3{
	margin-top: -5px;
}
.step1Header3 div.selectSideName{
	margin-left: 62px;
}
.addNameSection .step1Header3.heightLI  #numberHeight.selectSideNumber{
	margin-left: 11px;
}
.addNameSection ul li.step1Header3.heightLI {
	margin-top: 0;
}
.positionTitle a.standardPositions {
    margin-left: 32px;
}
.positionTitle a.standardPositions + a.addNameSmallHeading2{
	 margin-left: 68px;
}
.addNameSection input[type="checkbox"].addNumberCheck + span.secondCheck{
	margin-top: -3px;
	display: inline-block;
	padding-bottom: 3px;
}
.addNameSection ul li.step1Header2 + li.step1Header3{
    margin-top: -4px;
}
.positionTitle a.addNameSmallHeading2{
	margin-left: 18px;
}
.positionTitle a.standardPositions + a.addNameSmallHeading2 {
    margin-left: 85px;
}
.positionTitle a.addNameSmallHeading2 {
    margin-left: 32px;
}
.positionTitle a.standardPositions + a.addNameSmallHeading2 {
    margin-left: 68px;
}
.addNameSection li.step1Header2 input[type="checkbox"].addNameCheck{
	margin-left: 0px;
}
.addNameSection ul.nameColorUl li{
	margin-bottom: 5px;
}
#changeFontImg{
max-height: 67%;	
}
.changeFont{
	position: relative;
}
.changeFont img{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}
/*vishnu css ends  here*/















}
	@media(min-width:768px) and (orientation:landscape){
		.need-help-sec{
			min-height: 207px;
		}
		.started-tool ul.nav {
    padding-bottom: 172px;
}
.tab-content {
    height: 486px;
}
.upload1PopUp{
	left: 0 !important;
	right: 0 !important;
	margin: 0 auto !important;
}
.art-edit-controls div.control2 a.addText {
    margin-top: 0;
}
.tool-wrap .started-tool {
    height: 480px;
}
}
	@media(min-width:1100px){
	.tool-wrap .started-tool {
    height: 571px;
}
{
	left: auto !important;
	right:auto!important;
	/*margin: 0 auto !important;*/
	top: auto !important;
}

	}