/*
 Table Of Contents

 1.) font face
 2.) Tool Header CSS
 3.) Tool Page CSS
 3.1) Started Tool CSS
 3.2) Tool Product Section CSS
 4.) Footer Section CSS

 ===============================================*/

/*
 1.) font face
 2.) Text Section
 --------------------------------------*/

@font-face {
    font-family: 'titilliummaps26l999_wt';
    src: url('../fonts/titilliummaps26l/titilliummaps26l-webfont.eot');
    src: url('../fonts/titilliummaps26l/titilliummaps26l-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliummaps26l/titilliummaps26l-webfont.woff2') format('woff2'), url('../fonts/titilliummaps26l/titilliummaps26l-webfont.woff') format('woff'), url('../fonts/titilliummaps26l/titilliummaps26l-webfont.ttf') format('truetype'), url('../fonts/titilliummaps26l/titilliummaps26l-webfont.svg#titilliummaps26l999_wt') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'titilliumtitle12regular';
    src: url('../fonts/titilliumtitle12/titilliumtitle12-webfont.eot');
    src: url('../fonts/titilliumtitle12/titilliumtitle12-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/titilliumtitle12/titilliumtitle12-webfont.woff2') format('woff2'), url('../fonts/titilliumtitle12/titilliumtitle12-webfont.woff') format('woff'), url('../fonts/titilliumtitle12/titilliumtitle12-webfont.ttf') format('truetype'), url('../fonts/titilliumtitle12/titilliumtitle12-webfont.svg#titilliumtitle12regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

a {
    transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
}

/*img {
        max-width: 100%;
        height: auto;
}*/

html {
    -webkit-text-size-adjust: 100%;
}


/*
  2.) Tool Header CSS
 ---------------------------------------*/

.designer-tool > header { margin-bottom:20px;}
.design-links { overflow: hidden; }
.design-links li { float:left; list-style:none; padding:0 20px; border-left:1px solid #47b7ee; line-height:1;}
.design-links li:first-child { border-left:none; }
.design-links li a { display:block; text-align:center; font-size:1.6em; color:#47b7ee; text-transform:capitalize; }
.design-links li a:hover { text-decoration:underline; }

.chat-section { }
.chat-section li { float:right; text-align:right; padding-left:10px; margin-left:10px; }
.chat-section li:first-child {  border-left:1px solid #47b7ee;}
.chat-section li a, .chat-section li span { display:block; color:#47b7ee;   }
.chat-section li a { font-size:1.5em; font-weight:700;}
.chat-section li span { font-size:1.3em; }


/*
 3.) Tool Page CSS
 ----------------------------------------*/
body {background: #f3f3f3;}


.container {
    height: 100%;

}

.designer-tool {font-size: 62.5%;
                margin-top:0 auto 0;
                max-width:1170px;
                left: 1%;
                right: 1%;
                margin: auto;
}
.tool-wrap {

    height: 572px;
    font-family: 'Open Sans', sans-serif;

    border-bottom: 1px solid #fff;

}


.started-tool, .tool-product { padding:0;}

/*
 3.1) Started Tool CSS
 ----------------------------------*/

.started-tool {
    width:625px;
    float: left;
    height: 100%;
    position: relative;
}
.started-tool > .nav-tabs {
    /*width: 84px;*/
    width:13.41%;
    float: left;
    height: 100%;
    background: #000080;
    border-bottom: none;
}
.started-tool > .nav-tabs > li {
    float: none;
    margin-bottom: 0;
    border-bottom: 1px solid #7154ae;
}

.started-tool > .nav-tabs > li a {
    position: relative;
    padding: 13px 0;
    text-align: center;
    color: #fff;
    font-size:1.5em;
    text-transform: capitalize;
    margin: 0;
    border: none;
}
.started-tool > .nav-tabs > li a img {
    display: block;
    margin: 0 auto 3px;
}
.started-tool > .nav-tabs > li:hover a, .started-tool > .nav-tabs > li.active a, .started-tool > .nav-tabs > li.active > a:hover, .started-tool > .nav-tabs > li.active > a:focus {
    background: #41ade2;
    border-radius: 0;
    margin: 0;
    color: #fff;
    border: 0;
}

.started-tool > .nav > li > a:focus {
    border: 0 !important;
    margin: 0;
    padding: 13px 0;
    background: #41ade2;
    border-radius: 0;
}

.tool-product {
    width: 545px;
    float: right;
    position: relative;
}
.started-tool > .nav-tabs > li:hover .hover-arrow, .started-tool > .nav-tabs > li.active .hover-arrow {
    display: block;
}
.hover-arrow {
    background: url(../images/blue-arrow.png) no-repeat;
    width: 6px;
    height: 12px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -6px;
    margin: auto;
    display: none;
}

.tab-content {
    float: left;
    width:86.590%;
    height: 100%;
    overflow-y: auto;
    background: #fff;
}

.tab-content2 {
    float: left;
    width:86.590%;
    height: 92% !important;
    overflow-y: auto;
    background: #fff;
}

.viewWiseColorHolder
{
    height: 45px;
    left: 83px;
    top: 526px;
    position: absolute;
    width: 86.59%;
    display: none;
    border: 1px none red;
    background: #8869ca;
}
.viewWiseColorHolder div
{
    display:block;
    line-height: 1;
    margin-left:5px;
    margin-top: 5px;
}
.totalColorHolderPrice span
{

    font-size: 16px;
    color: #000000;
}
.totalColorHolder span, .totalColorHolder a
{

    font-size: 13px;
    color: #000000;
}
.totalColorHolder a
{
    cursor:pointer;
    text-decoration: underline;
}
.rightPos
{
    margin-right: 6px;
    float: right;
}
.tab-content h2 {
    color: #666;
    font-size:6em;
    font-family: 'titilliummaps26l999_wt';
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    word-spacing: -3px;
    margin: 46px 0 12px;
    line-height: 1;
}

.tab-content h3 {
    font-size: 1.6em;
    text-align: center;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
    margin: 0 0 38px 0;
}

.choose-tool {
    overflow: hidden;

    padding: 0 0 0 10%;

    margin: 0 0 44px;
}
.choose-tool li {
    float: left;
    background: url(../images/dot-bg.png) no-repeat left center;
    width: 28%;
    list-style: none;
}
.choose-tool li:first-child {
    background: none;
}
.choose-tool  li a {
    display: block;
    vertical-align: middle;
    font-size: 2.1em;
    color: #000;
    font-family: 'titilliumtitle12regular';
    text-align: center;
    text-transform: uppercase;
}

.choose-tool  li:nth-child(1) {
    width: 27.5%;
}
.choose-tool  li:nth-child(2) {
    width: 30.8%;
}
.choose-tool  li:nth-child(3) {
    width: 38%;
}
.choose-tool  li a > img {
    display: block;
    margin: 0 auto 16px;
}
.save-choose-tool li a
{
    display: block;
    vertical-align: middle;
    font-size: 2.1em;
    color: #000;
    font-family: 'titilliumtitle12regular';
    text-align: center;
    text-transform: uppercase;
    line-height: 1.1;
}
.save-choose-tool  li a > img {
    display: block;
    margin: 0 auto 16px;

}
.choose-tool  li a:hover {
    text-decoration: none;
    color: #47b7ee;
}

.need-help-sec {
    background: #47b7ee;
    padding-top:105px;
    min-height: 287px;
}
.promo-section
{
    background: #47b7ee;
    padding-top:72px;
    min-height: 287px;
}
.need-help-sec h2 {
    color: #fff;
    font-family: "titilliummaps26l999_wt";
    font-size:6em;
    letter-spacing: 0;
    line-height: 1;
    margin:0 0 6px;
    text-align: center;
    word-spacing: 1px;
}

.need-help-sec > span {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    word-spacing: 2px;
}
.need-help-sec > span > strong {
    color: #000;
    font-style: italic;
    display: inline-block;
}
.promo-section div
{
    border: red;
    text-align: center;
    color: #fff;
    font-size: 1.8em;
    word-spacing: 2px;
}
.promo-section a
{
    color: #000000;
    cursor: pointer;
}
.promo-section a:hover
{
    color: #000000;
}
/*
 3.2) Tool Product Section CSS
 ----------------------------------*/
.tool-links {

    background: #000080;
}
.tool-links ul {
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.tool-links li {
    float: left;
    border-left: 1px solid #7154ae;
    list-style: none;
    width: 20%;
}
.tool-links li:first-child {
    border-left: none;
}
.tool-links li a {
    color: #fff;
    font-size: 1.6em;
    display: block;
    text-align: center;
    line-height: 2.6;
    text-transform: capitalize;
}

.tool-links li:hover a, .tool-links li.active a {
    background: #ff4545;
    text-decoration: none;
}

.rotate-icon, .print-icon, .zoom-icon, .print-this-icon, .help, .but-links li a i.price:before, .but-links li a i.save:before, .but-links li a i.buy:before {
    display: inline-block;
    background: url(../images/sprite.png) no-repeat;
}

.rotate-icon {
    background-position: 0px 10px;
    height: 29px;
    width: 15px;
}
.print-icon {
    background-position: -27px 10px;
    height: 24px;
    width: 9px;
}
.zoom-icon {
    background-position: -46px 6px;
    height: 22px;
    padding-bottom: 9px;
    position: relative;
    top: 4px;
    width: 15px;
}
.zoom-minus-icon
{
    display: inline-block;
    background: url(../images/zoomminus.png) no-repeat;
    height: 22px;
    width: 15px;
    position:relative;
    top:9px;
}
.print-this-icon {
    background-position: -72px 10px;
    height: 24px;
    width: 15px;
}
.help {
    background-position: -100px 10px;
    height: 25px;
    width: 16px;
}

.product-img {
    width: 100%;
}
.product-img > img {
    display: block;
}

.but-links {
    background: #8869ca;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: inline-block;
    width: 100%;
    height: 45px;
}
.but-links li {
    float: left;
    width: 33.334%;
    list-style: none;
    border-left: 1px solid #7154ae;
    margin-bottom:0;
}
.but-links li:first-child {
    border-left: none;
}
.but-links li a {
    display: block;
    color: #fff;
    font-size: 1.7em;
    text-transform: capitalize;
    text-align: center;
    line-height: 3.45;
    height: 45px;
}

.but-links li:hover a, .but-links li.active a {
    background: #4cb500;
    text-decoration: none;
}
.but-links li a i {
    position: relative;
    display: inline-block;
    line-height: -20;
    margin-bottom: 12px;
}
.but-links li a i.price {
    width: 10px;
    height: 17px;
}
.but-links li a i.save {
    width: 17px;
    height: 17px;
}
.but-links li a i.buy {
    width: 16px;
    height: 16px;
}
.but-links li a i.price:before {
    background-position: 0 -19px;
    width: 10px;
    height: 17px;
}
.but-links li a i.save:before {
    background-position: -19px -19px;
    width: 17px;
    height: 17px;
}
.but-links li a i.buy:before {
    background-position: -45px -22px;
    width: 16px;
    height: 16px;
    top: 17px !important;
}
.but-links li a i.price:before, .but-links li a i.save:before, .but-links li a i.buy:before {
    position: absolute;
    top: 14px;
    left: -3px;
    content: '';
    line-height: 1;
}
/*.price { background-position:0 -19px; width:10px; height:17px;}
 .save {  background-position:-19px -19px; width:17px; height:17px;}
 .buy { background-position:-45px -22px; width:16px; height:16px; }*/


/*
 4.) Footer Section CSS
 --------------------------------------*/



.designer-tool footer {padding:20px 0;}
.designer-tool footer  > span { display:block; font-size:1.5em; color:#47b7ee; }
.designer-tool footer  > span > a { display:inline-block; font-size:100%; color:#47b7ee;}
.designer-tool footer  > span > a:hover { text-decoration: underline;}

.designer-tool div.leftTab
{
    width: 100%;
    height: 100%;
    /*	border: 1px solid black;*/


}

.top-header
{
    font-size: 24px;
    color: #47b7ee;
    line-height: 1;
    width: 293px;
    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;

}
.smallHeading
{
    font-family: 'Open Sans','Sans serif';
    font-size: 13px !important;

}
.leftTab section
{
    border: 1px none black;
    margin-left: 22px;
    margin-top: 20px;
    padding:0;
}
/**********************************ADD TEXT CSS**************************************************/
.leftTab_text
{
    height: 100%;
    padding-left: 19px;
    padding-top: 19px;
    width: 100%;

    font-size: 13px;
    color:#000000;
    font-family: 'Open Sans','Sans serif';
    font-weight: normal;
}
.leftTab_text section
{
    padding-top: 0px;
    line-height: 1;
    margin: 0px;
}
.leftTab_text ul.addTextUl
{
    height: 30px;
    margin-top:19px;
    margin-left: -1px;
}
.leftTab_text ul.addTextUl li,.addArtNav li
{
    float: left;
    font-size: 16px;
    color:#9d9b9b;
    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;
}
.leftTab_text ul.addTextUl li a,.addArtNav li a
{
    color: black;
}
.leftTab_text ul.addTextUl li a.border,.addArtNav li a.border
{
    background-color: #000000;
    display: block;
    height: 16px;
    margin-left: 7px;
    margin-right: 8px;
    margin-top: 3px;
    width: 2px;
}

.leftTab_text ul.addTextUl li a.selected,.addArtNav li a.selected
{
    color: #666666;
}
.textLine
{
    color: #b4b4b4;
    display: inline-block;
    font-family: "Open Sans","Sans serif";
    font-size: 13px;
    font-weight: normal;
    margin-top: 14px;
}
.seeChart
{
    font-size: 13px;
    color:#000000;
    margin-left:5px;
    font-family: 'Open Sans','Sans serif';
    font-weight: normal;
    cursor: pointer;
}
.leftTab_text input[type="checkbox"]
{
    margin-top: 15px;
}


.editTxtPage
{
    height: 420px;
}
.updatebutton
{	
    overflow: hidden;
}
.editTxtPage .updatebutton li a,.textShapeCancelBtn
{
    background-color: #4cb500;
    float: left;
    height: 25px;
    margin-right: 6px;
    margin-top: 12px;
    padding-left:20px;
    width: 84px;
    font-size: 13px;
    color:#FFFFFF;
    font-family: 'Open Sans','Sans serif';
    font-weight: normal;
}
.editTxtPage .updatebutton li a:hover,.textShapeCancelBtn:hover
{
    background-color: #ff4545;
}
.editTxtPage .updatebutton li:last-child a
{
    background-color: #8869ca;
}
.editTxtPage .updatebutton li:last-child a:hover
{
    background-color: #ff4545;
}
.editTxtPage section
{
    border: 1px null blue;
}
.editTxtPage .sectionHead
{
    color: #000000;
    display: block;
    font-family: "Open Sans","Sans serif";
    font-size: 16px;
    font-weight: normal;
    margin-top: 22px;
}
.sectionHead2
{
    color: #000000;
    display: block;
    font-family: "Open Sans","Sans serif";
    font-size: 16px;
    font-weight: normal;
    margin-top: 22px;
}
.editTxtPage hr
{
    margin-left: -18px;
    margin-top: 9px;
    width: 103%;
    margin-bottom: 13px;
}
.textSettingSection ul 
{
    overflow: hidden;
}
.textSettingSection li 
{
    float:left;
    width: 50%;
    border:1px null red;
    padding-bottom: 12px;
}
.setAlign
{
    padding-left: 15px;
}
.changeFont
{
    background: url(../images/changeFont.png);
    display: block;
    height: 32px;
    width: 252px;
    margin-top: 6px;
    padding-left: 36px;
    padding-top: 3px;
    cursor: pointer;
}
.textColor
{
    background: url(../images/textcolor-img.png);
    display: block;
    height: 32px;
    width: 152px;
    margin-top: 6px;
    padding: 9px 0 0 10px;
    cursor:pointer;
}
.inputSize
{
    border: 1px solid black !important;
    height: 19px;
    width: 33px;
    padding:  0 0 0 4px !important;
}


.setAlign a
{
    background: url("../images/align-img.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 19px;
    margin-right: 2px;
    width: 25px;
}
.setAlign span
{
    vertical-align: top;
}
.middleAlign
{
    background-position: -30px !important;
}
.rightAlign
{
    background-position: -60px !important;
}
.rotate
{
    background-color: #4cb500;
}
.setAlign a.moveToCenter
{
    background: url(../images/moveToCenter-img.png) no-repeat;
    width:25px;
    height:19px;
    display:inline-block;
}
.textEffectSection ul 
{
    overflow: hidden;
}
.textEffectSection li 
{
    float:left;
    width: 50%;
    border:1px null red;
    padding-bottom: 12px;
}
.textShape, .shapeSetting, .textOutline, .outlineColor
{
    background: url(../images/textEffectSprite-img.png) no-repeat;
    margin-top: 5px;
    cursor: pointer;
}
.textShape
{
    width: 252px;
    height: 26px;
}
.shapeSetting
{
    background-position: -267px 0;
    border-radius: 6px 0 0 6px;
    height: 26px;
    padding:0px;
    width: 182px;
}
.text-shape-holder
{
    border: 1px none red;
}
.textOutline
{
    width: 252px;
    height: 26px;
    background-position: 0px -54px;	
    border-radius: 6px 0 0 6px;
    padding-top: 2px;
}
.outlineColor
{
    width: 182px;
    height: 26px;	
    background-position: -267px -54px;
    padding: 5px 0 0 9px;
    position: relative;	
}
.textSectionHead {
    margin-top: -3px !important;
}
.fontStyleCancelBtn
{
    background: url(../images/cancel-Icon.png) no-repeat;
    width:20px;
    height:20px;
    display: inline-block;
}
.fontStyleContainer section
{
    width:452px;
}
.no-stroke-div
{
    border: 1px solid black;
    height: 15px;
    overflow: hidden;
    position: absolute;
    top: 5px;
    width: 14px;
}
.no-stroke-div img
{
    height: 24px;
    left: -6px;
    max-width: 24px;
    position: absolute;
    top: -6px;
    width: 24px;
}
.stroke-selection
{
    border: 1px solid black;
    height: 18px;
    width: 22px;
    cursor: pointer;

}
.stroke-selection img
{
    height: 23px;
    margin-top: -9px;
    max-height: 16px;
    max-width: 25px;
    width: 20px;
}
.fontStyleCancelBtnContainer {float: right; margin-top: 4px;width: 59px;display:table;}
.fontStyleCancelBtnContainer a, .fontStyleCancelBtnContainer span { display:table-cell; vertical-align:middle;}
.fontCategoryContainer{width: 452px;height:38px; background-color: #f2f2f2; margin-top: 22px;padding: 8px 0 0 19px;}
.fontCategoryContainer select{width: 137px;height:22px;padding:0px;}
.fontCategoryContainer label{display:inline-block;padding-top: 3px;vertical-align: top;}
.fontContainer{width: 452px; margin-top: 15px;}
.fontContainer li{width: 448px;height:40px;margin:2px;padding:2px;border:2px solid #ffffff;cursor:pointer;}
.fontContainer li:hover{border-color:#41ade2;}
.marginSetter{margin: 12px 0;}
.textShapeContainer{width: 452px; margin-top: 15px;}
.textShapeContainer li{width: 486px;height:50px;margin:2px;padding:2px;border:2px solid #ffffff;text-align: center;cursor:pointer;}
.textShapeContainer li:hover{border-color:#41ade2;}
.fontBottomDescription ul li{width:50%;float:left;padding:2px;}
.fontBottomDescription ul li a{cursor:pointer;}
.textShapeCancelBtnAdjuster{line-height: 1.7;margin-left: 200px;cursor: pointer;}
.textSettingSection .txt-color,.textEffectSection .txt-color{height: 16px;width: 16px;display: inline-block;}
.textColorContainer .colorDiv{border: 1px solid black;cursor: pointer;height: 18px;width: 22px;}
.textColorContainer .textColorLi{float: left;margin: 6px 3px 0 0;}
#textColorOptions li{display: block;margin-top: 3px;}
#textColorOptions ul{display: inline-block;width: 228px;}
#textColorOptions .noteBigTitle{display:inline;cursor: pointer;}
.textShape{padding-top: 6px;text-align: center;}
/**********************************End of ADD TEXT CSS**************************************************/

/**********************************Global CSS************************/
.addText
{

    background: #4CB500;
    font-size: 1.6em;
    display: block;
    width:80px;
    height:32px;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    color:#FFFFFF;
    font-family: 'Open Sans','Sans serif';
    font-weight: normal;
}
.addText:focus
{
    background:#4CB500;
    color:#FFFFFF;
    cursor: pointer;
}
.addText:hover
{
    background: #ff4545;
    color:#FFFFFF;
    cursor: pointer;
}

.txtArea
{
    font-family: "Open Sans","Sans serif";
    font-size: 13px;
    height: 58px;
    resize: none;
    width: 471px;	
}
.addTextSetter
{
    height: 28px;
    line-height: 1.6;
    margin-top: 20px;
    width: 79px;
}
/**********************************End Global CSS*****************************************/
/**********************************SWAP ITEM CSS**************************************************/

.swapInfo p
{
    font-family: 'Open Sans','Sans serif';
    font-size: 13px;
    display: block;
    margin-top: 0px;
}
.swapInfo p:first-child
{
    font-family: 'Open Sans','Sans serif';
    font-size: 13px;
    display: block;
    margin-top: 17px;
}
.swapInfo span
{
    color: #000000;
    font-size: 14px;
}
.leftTab section.colorInfoSection
{
    margin-top: 12px;
}

.leftTab section.moreColorInfoSection
{
    margin-top: 7px;
}

.leftTab section.viewSizeLineUpSection
{
    margin-top: 10px;
}
.leftTab section.productDetailSection
{
    margin-top: 16px;
}
.italicText
{
    color: black;
    font-size:13px;
    font-weight:bold;
    font-style: italic;
    cursor: pointer;
}
italicText:hover
{
    color:#47b7ee;
}
italicText:focus
{
    color: black;
}
.colorInfo
{
    font-size: 16px;
    color:black;
    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;
}
.colorInfo div.colorHolder
{
    width: 470px;
    height: 60px;
    border: 1px solid gray;
    overflow: auto;
    margin-top: 3px;
}
.colorHolder ul
{

    /*//width: 100%;*/
    margin-top: 6px;
    margin-left: 5px;

}
.colorHolder ul li
{
    float:left;
    width: 22px;
    height: 18px;
    margin:3px 3px;
    margin-right: 0px;

}
.colorHolder ul li div
{
    width: 22px;
    height: 18px;
    border: 1px solid black;


}

.colorQuantityInfo
{
    background-color: #41ade2;
    width: 470px;
    height: 70px;
    border: 1px none black;
    overflow: hidden;
}

.colorQuantityInfo strong
{
    color: #000000;
    font-size: 14px;
    font-family: 'Open Sans','Sans Serif';
}
.colorQuantityInfo ul
{

    border: 1px none red;
    margin-left: 8px;
    margin-top: 8px;

}
.colorQuantityInfo ul li
{
    margin-top: -6px;
    margin-left: 2px;
    border: 1px none black;
}
.colorQuantityInfo ul li:first-child
{
    margin-top: 0px;
    margin-left: 2px;
}
.colorQuantityInfo span
{
    color: #000000;
    font-size: 13px;
    line-height:1;
    font-family: 'Open Sans','Sans Serif';
}


.productDetail span
{
    font-size: 12px;

}

.listTitle
{
    margin-top:5px;
}
.title2
{
    margin-top:5px;
}
.listTitle span
{
    display: block;
    margin-top: px;

}

/*************************OverLay******************************************/

.overlay-wrapper
{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 1000;

    background-color: rgba(0,0,0,0.4);
    display: none;
    left: 0px;
    top: 0px;
}
.preloader-overlay-wrapper
{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;

    background-color: rgba(0,0,0,0.4);
    display: none;
    left: 0px;
    top: 0px;
}
.swapItemHoodiesPopup
{
    width: 960px;
    position: fixed;
    height:557px;
    z-index: 1010;
    background: #fff;
    display:none;
    font-family: 'Oswald', sans-serif;
}
.hoodies-item-holder
{
    border: 1px none red !important;
    height: 480px;
    width: 922px;
    overflow: auto;

}
.swapItemHoodiesPopup img.close-btn
{
    position: absolute;
    left: 936px;
    top:5px;
    cursor: pointer;

}
.swapItemHoodiesPopup span.catHeading
{
    font-size: 16px;
    color:black;
    display:block;
    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;

}
.select-border-section span
{
    font-size: 16px;
    color:black;
    display:block;
    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;

}
.swapItemHoodiesPopup div.productContainer img
{
    width: 50px;
    margin: 0px auto;
}
.swapItemHoodiesPopup div.productContainer
{
    height: 110px;


}
.swapItemHoodiesPopup div.productWrapper
{
    border: 1px none gray;
    float: left;
    height: 110px;

    margin-bottom:3px;
    margin-right: 5px;
    text-align: center;
}
.pick-design-popup
{
    background: none repeat scroll 0 0 #4cb500;
    color: #ffffff;
    display: block;

    font-family: "Open Sans","Sans serif";
    font-size: 16px;
    font-weight: normal;
    height: 32px;
    line-height: 2;
    margin-left: 5px;
    text-align: center;
    width: 107px;
    margin: 0px auto;
    cursor: pointer;
}
.pick-design-popup:hover
{
    color: #FFFFFF;
}
.swapItemPopup
{
    width: 768px;
    position: fixed;
    height:460px;
    z-index: 1010;
    background: #fff;
    display:none;
    font-family: 'Oswald', sans-serif;

}
.swapItemPopup section
{
    margin-top: 5px;
    margin-left: 10px;
}
.close-btn
{
    position: absolute;
    left: 737px;
    top:5px;
    cursor: pointer;

}
.swapItemPopup section.swapItemHolder
{
    width: 747px;
    margin-top:5px;
    height:380px;
    border: 1px none red;
}
.swapItemHolder div.leftSwapItemPopup,.swapItemHolder div.rightSwapItemPopup
{
    float: left;
    width:367px;
    border: 1px none black;
    height: 100%;
    overflow-y: scroll;
}
.leftSwapItemPopup div
{
    /*border: 1px solid black;*/
}
.swapItemHolder div.rightSwapItemPopup
{
    margin-left: 10px;
}
.swapItemHolder div.rightSwapItemPopup section
{
    margin-left: 5px;
    margin-top: 10px;
}
.leftSwapItemPopup span.catHeading
{
    font-size: 16px;
    color:black;
    display:block;
    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;
}

.leftSwapItemPopup a.catHeading
{
    font-size: 16px;
    color:black;

    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;
}
.swapRightProductHolder span.catHeading
{
    font-size: 16px;
    color:black;
    display:block;
    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;
}
.leftSwapItemPopup a.subcatH,.rightSwapItemPopup a.subcatH
{
    font-size: 12px;
    color:#666666;
    display:inline-block;
    line-height:1;
    font-family: 'Open Sans','Sans serif';
    font-weight: normal;
    cursor: pointer;
}
.rightSwapItemPopup span.subcatH
{
    font-size: 12px;
    color:#666666;
    display:inline;
    line-height:1;
    font-family: 'Open Sans','Sans serif';
    font-weight: normal;
}
.leftSwapItemPopup a.catHeading:hover, .leftSwapItemPopup a.subcatH:hover,.rightSwapItemPopup a.subcatH:hover
{
    color:#41ade2;
}
.leftSwapItemPopup a.pSubCatId
{
    margin-left: 1px;
}

.swapRightProductHolder
{
    width: 350px;
    height: 344px;
    /*border: 1px solid blue;*/
    /*overflow-y: auto;*/
}
.swapRightProductHolder div.productWrapper
{

    height: 170px;
}
.swapItemPopup div.productContainer img, .swapItemPopup div.productContainer ul
{
    float: left;
    margin-right: 18px;
    margin-top: 10px;
}

.productContainer ul
{
    width: 185px;
}
.productContainer div
{
    /*border: 1px solid black;*/
    width: 200px;

}
.productPopUpDetail
{
    float:left;
    background: #8869CA;
    font-size: 1.6em;
    display: block;
    width:80px;
    height:32px;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    color:#FFFFFF;
    font-family: 'Open Sans','Sans serif';
    font-weight: normal;
}
.productPopUpColor
{
    float:left;
    background: #4CB500;
    font-size: 1.6em;
    display: block;
    margin-left:5px;
    width:107px;
    height:32px;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    color:#FFFFFF;
    font-family: 'Open Sans','Sans serif';
    font-weight: normal;
}
.productPopUpDetail:hover,.productPopUpColor:hover
{
    background: #ff4545;
    color:#FFFFFF;
    cursor: pointer;
}
.colorHolder ul li
{
    cursor: pointer;

}

.slectedColor
{
    position: relative;
    margin-left: 3px;
    margin-top: -16px;
}
.textColorLi img.slectedColor
{
    margin-top: -10px;
} 
.innerProductDetail section
{
    margin: 0px;
}
.innerProductDetail div.colorHolder
{
    width:330px;
} 
.innerProductDetail div.colorQuantityInfo
{
    background-color: rgb(238, 238, 238);
    width: 330px;
    height: 73px;
    border: 1px none red;
}
.swapDetailInfo img
{
    /*display: none;*/
}

/******************************END SWAP ITEM***********************/

/*******************************ADD NOTES****************************************************/

.forgetInstruction
{
    width: 90.5%;
    height: 100%;
    background: #f4f4f4;
}

.noteSmallTitle
{
    font-family: 'Open Sans','Sans serif';
    font-size: 13px !important;
    color: #000000;
    display:block;
}
.noteBigTitle
{
    font-size: 16px;
    color:black;
    display:block;
    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;
}
.saveYourDesign
{
    font-size: 16px;
    color:black;

    font-family: 'titilliummaps26l999_wt';
    font-weight: normal;
}
.saveYourDesign:hover
{
    cursor: pointer;
    color: #41ade2;
}




/******************************************End ADD Notes******************************************/

/****************************************Canvas CSS**********************************************/
.canvas-holder
{
    position: relative;
    width: 565px;
    height:492px;
    overflow-y: auto;
}
.inner-canvas-holder
{
    position: relative;
    width: 546px;
    height:493px;
    overflow: hidden;
    background-color: #dcd9d4;
}
.inner-canvas-holder-zoom
{
    position: relative;
    width: 546px;
    height:493px;
    border: 1px none red;
}
.frontImage
{
    position: absolute;
    left: 0;
    top: 0;
    width: 546px;
    height: 493px;
}
.backImage
{
    position: absolute;
    left: 0;
    top: 0;
    width: 546px;
    height: 493px;
}
#addObjectLoader
{
    color: #ff4545;
    font-size: 23px;
    left: 7px;
    position: absolute;
    top: 0;
}
.change-clip-color-section .artColorUl li div img.slectedColor{
	margin-top: 0;
}
#textColorOptions > li li.textColorLi .stroke-selection img{
	margin-top: 0;
}
/*#add-art .art-edit-controls div.control2 a.addText{
	
}*/


/*****************************************End canvas************************************************/



/*vishnu css starts here*/
.designer-tool .tool-wrap{
    position: relative;
    z-index: 99;
}
.designer-tool .tool-wrap .distress{
    float: left;
    margin-right: 10px;
    display: inline-block;
    margin-top: 14px;

    /*position: absolute;
    top: 0;
    left: 50%;
    z-index: 99;
    font-size: 15px;
    margin-left: -110px;*/
}
.designer-tool .tool-wrap .distress input[type="checkbox"]{
    float: left;
    margin-top: 6px;
    margin-right:7px; 

}
.designer-tool .tool-wrap .distress span{
    color: rgb(0, 0, 0);
    font-family: 'Open Sans','Sans serif';
    font-weight: 400;
    display: inline-block;
    cursor: pointer;
    font-size: 15px;
    line-height: 1.2;
    display: inline-block;
    vertical-align: middle;
    margin-top: 3px;
}
/*vishnu css ends here*/




.tool-wrap .started-tool > .nav-tabs > li{
    border-bottom: 1px solid #fff;
}
.tool-product .tool-links li, .tool-product .but-links li{
    border-left: 1px solid #fff;
}
.tool-product .tool-links li:first-child, .tool-product .but-links li:first-child{
    border-left:none; 
}
.tool-product .but-links li{
    background:rgb(0, 0, 128);
}.tool-product .but-links{
    border-top:1px solid #fff; 
}
.tool-product nav.tool-links{
    border-bottom: 1px solid #fff;
}
.started-tool .viewWiseColorHolder{
    background: #eeeeee;
}
.tool-product .tool-links li:hover a, .tool-product .tool-links li.active a{
    background: #eb222f;
}


.direction-rotation{
    float: left;
    /*width: 75px;*/
    /*position: absolute;
    left: 50%;
    top: 0;
    z-index: 999;*/
    /*margin-left: -192px;*/
}
.direction-rotation .undo, .direction-rotation .redo{
    width: 30px;
    height: 30px;
    background: url(../images/undo.png) no-repeat; 
    display: inline-block;
    background-size: 100% 100%;

}
.direction-rotation .redo{
    background: url(../images/redo.png) no-repeat; 
    background-size: 100% 100%;
    margin-right: 0;
}
.distress-box{
    position: absolute;
    left: 50%;
    top: -20px;
    z-index: 999;
    margin-left: -205px;
    padding: 5px;
    background: rgba(255, 255, 255, 0.8);
}
.direction-rotation a{
    display: inline-block;
    margin-right: 10px;
}
.direction-rotation a:last-of-type{
    margin-right: 0;
}
.direction-rotation > a > span{
    display: block;
    font-size: 15px;
    line-height: 1.2;
    white-space: nowrap;
    color: #000;
}

.changeBorder
{
    background: url(../images/changeFont.png);
    display: block;
    height: 32px;
    width: 252px;
    margin-top: 6px;
    padding-left: 36px;
    padding-top: 3px;
    cursor: pointer;
}
.custom-drop-down
{
    width: 250px;
    max-height: 150px;
    border: 1px solid gray;
    display:none;
    overflow: auto;
}
.distress-box{
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    background: none;
    top:326px;
    padding-left: 10px;
}
.direction-rotation{
    float: none;
}
.direction-rotation a{
    float: none;
    display: block;
    margin-bottom: 10px;
}
.designer-tool .tool-wrap .distress span{
    font-size: 1.5em;
    color: #fff;
    padding-left: 20px;
    width: 66%;
}
.designer-tool .tool-wrap .distress{
    position: relative;
    padding-bottom: 8px;
}
.designer-tool .tool-wrap .distress .distres-effect{
    position: absolute;
    left: 0;
    top: 0;
}
.direction-rotation{
    padding-left: 15px;
}
.direction-rotation a span{
    font-size: 1.5em;
    color: #fff;
}

/*vishnu date 08-07-15 css starts here*/
/*.sparx-login-window, .sparx-quicklogin-cover{
	display: none !important;
}*/
#UploadForm .customfile-container{
	margin-bottom: 20px;
}
.wrapper .textSettingSection li.setAlign #textColor span{
	margin-bottom: 0;
	max-width:80px; 
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
body .wrapper .textSettingSection li.setAlign#textAlignArea span{
	margin-bottom: 0;
	margin-top: -3px;
}
.setAlign a{
	vertical-align: middle;
}
.tab-content #add-text .editTxtPage .textSettingSection li{
	min-height: 31px;
}
body .wrapper .textSettingSection li.setAlign:last-of-type span{
	margin: 0;
}
.addText:focus, .save-Continue:focus, .buy-now:focus{
	background: rgb(75, 80, 80) !important;
}
body #add-text .editTxtPage .textSettingSection li.setAlign:last-of-type{
	padding-left: 15px;
}

/*vishnu date 08-07-15 css starts here*/




@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: landscape) 
{

    .distress-box{
        top: 303px;
        padding-left: 3px;
    }
    .designer-tool .tool-wrap .distress span{
        padding-left: 16px;
    }

}
@media only screen 
and (min-width: 768px) 
and (max-width: 1024px) 
and (orientation: portrait) 
{

    .distress-box{
        top: 303px;
        padding-left: 3px;
    }
    .designer-tool .tool-wrap .distress span{
        padding-left: 16px;
    }

}

/***************custom css**********************/





